.clients-container {
  width: 100%;
  background-color: #000000;
  padding-bottom: 13rem;
  overflow: hidden; 
}

.clients-container .title-container {
  display: flex;
  justify-content: center;
  padding-top: 11.5rem;
  padding-bottom: 6.5rem;
}

.clients-container .title-container .title {
  width: 479px;
  top: 63.45%;
  font-family: MangoGrotesqueBold;
  font-style: normal;
  font-weight: 700;
  font-size: 230px;
  line-height: 244px;
  text-transform: uppercase;
  color: #ffffff;
}

.clients-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 4rem;
  overflow: hidden; 
}

.clients-container .second-logo-container {
  margin-top: 4rem;
}

.logo-wrapper {
  display: flex;
  gap: 2rem; 
  animation: scroll 20s linear infinite;
}

.clients-container .first-logo-container .logo-wrapper {
  animation-direction: reverse;
}

.clients-container .second-logo-container .logo-wrapper {
  animation-direction: normal; 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
