nav {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 3.4rem;
    padding-left: 5px;
    background: #D9D9D9;
}

nav a {
  font-family: MangoGrotesqueBold;
  font-size: 270px;
  line-height: 240px;
  font-style: normal;
  text-transform: uppercase;
  color: #FF0000;
  margin-left: 2.27%;
  margin-right: 42.27%;
  margin-top: 1.44%;
  display: flex;
  gap: 2.7rem;

}


nav a:hover {
  color: #de0303 !important;
  transition: 0.2s ease;
  border-bottom: 1px dashed black;
}

nav a span:hover {
  color: #282828!important;
  transition: 0.2s ease;

}


nav span {
  color: #000000;
}







