@font-face {
  font-family: InterTightLight;
  src: url("./fonts/InterTightLight.ttf");
}

@font-face {
  font-family: InterTightSemiBold;
  src: url("./fonts/InterTightSemiBold.ttf");
}

@font-face {
  font-family: MangoGrotesqueBold;
  src: url("./fonts/MangoGrotesqueBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}


a {
  text-decoration: none !important;
}

ul li {
  list-style: none !important;
}




